%h2 Users
%table
  %tr
    %th
      Name
    %th
      Email Address
    %th
      Books Issued
    %th
      Edit User?
    %th
      Delete User?
  - @users.each do |user|
    %tr
      %td
        = user.first_name + ' ' + user.last_name
      %td
        = user.email
      %td
        - user.current_issued_books.each do |book|
          %li
            = book.title
      %td
        = button_to 'Edit User', edit_user_path(user), method: :get, class: 'blue-button'
      %td
        = button_to 'Delete User', user_path(user), method: :delete, confirm: 'Are you sure?', class: 'red-button'
