- if @user.errors.any?
  %h3
    Please review the errors below
  - @user.errors.full_messages.each do |error_message|
    %li
      = error_message
%h2
  Create a new user
= simple_form_for @user, url: users_path do |f|
  = f.input :first_name, label: 'Enter First Name'
  = f.input :last_name, label: 'Enter Last Name'
  = f.input :email, label: 'Enter Email Address'
  = f.input :password, required: true
  = f.input :password_confirmation, label: 'Password Confirmation', required: true
  = f.input :role, label: 'Role', collection: ['employee','admin'], as: :radio_buttons
  = f.button :submit, 'Add User', confirm: 'Are you sure?'
