- if @book.errors.any?
  %h3
    Please review the errors below
  - @book.errors.full_messages.each do |error_message|
    %li
      = error_message

%h2
  Edit the book
= simple_form_for @book do |f|
  = f.input :title, label: 'Enter the title for the book'
  = f.input :author, label: 'Enter the author for the book'
  = f.input :publisher, label: 'Enter the publisher for the book'
  = f.input :quantity, label: 'Enter the quantity for the book'
  = f.input :price,label: 'Enter the price for the book'
  = f.button :submit, 'Save', confirm: 'Are you sure?'
= button_to 'Cancel', user_profile_path(@book.id), method: :get, class: 'red-button'
