%h2
  List of all the books
%table
  %th
    Title
  %th
    Author
  %th
    Publisher
  %th
    Quantity
  %th
    Status
  - @books.each do |book|
    %tr
      %td
        = link_to book.title, book_path(book)
      %td
        = book.author
      %td
        = book.publisher
      %td
        = book.quantity
      %td
        - if book.checked_out?
          Checked out by
          - book.current_users.each do |book_user|
            %li
              = book_user.first_name + ' ' + book_user.last_name
        - if book.can_be_checked_out?
          = button_to 'Checkout', checkout_path(book.id), confirm: 'Are you sure?'
        - else
          No more copies left to checkout
      - if current_user.admin?
        %td
          = button_to 'Edit Book', edit_book_path(book), method: :get, class: 'blue-button'
        %td
          = button_to 'Delete Book', book_path(book), method: :delete, confirm: 'Are you sure?', class: 'red-button'
