- if @book.errors.any?
  %h3
    Please review the errors below
  - @book.errors.full_messages.each do |error_message|
    %li
      = error_message

%h2
  Add a Book

= simple_form_for @book do |f|
  = f.input :title, label: 'Enter the Title of the book'
  = f.input :author, label: 'Enter the Author of the book'
  = f.input :publisher, label: 'Enter the Publisher of the book'
  = f.input :price, label: 'Enter the Price of the book'
  = f.input :quantity, label: 'Enter the quantity of the book'
  = f.button :submit, "Add the book", confirm: 'Are you sure?'
= button_to 'Cancel', user_profile_path(current_user), method: :get, class: 'red-button'
