%h1= @book.title
%p The books is
%p Title
= @book.title
%p Author
= @book.author
%p Publisher
= @book.publisher
%p Price
= @book.price
%p Issued by
- if @book.current_users != []
  - @book.current_users.each do |book_user|
    = book_user.first_name + ' ' + book_user.last_name
- else
  = 'None'

- if @book.checked_out?
  = button_to 'Check In', checkin_path(@book.id), confirm: 'Are you sure?'
- else
  = button_to 'Check Out', checkout_path(@book.id)

= button_to "Back", books_path, method: :get
