%h1
  = @book.title
%p
  Author
  = ': ' + @book.author
%p
  Publisher
  = ': ' + @book.publisher
%p
  Price
  = ': ' + @book.price.to_s
%p
  = 'Issued by : '
  - if @book.current_users != []
    - @book.current_users.each do |book_user|
      %li
        = book_user.first_name + ' ' + book_user.last_name
  - else
    = 'None'
%p
  = button_to 'Back', user_profile_path(current_user), method: :get, class: 'red-button'
