%h1= @book.title
%p The books is
%p Title
= @book.title
%p Author
= @book.author
%p Publisher
= @book.publisher
%p Price
= @book.price
%p Issued by
= @book.user ? (@book.user.first_name + ' ' + @book.user.last_name) : 'None'

- if @book.checked_out?
  = button_to 'Check In', checkin_path(@book.id), confirm: 'Are you sure?'
- else
  = button_to 'Check Out', checkout_path(@book.id)

= button_to "Back", books_path, method: :get
= button_to "Edit", edit_book_path(@book.id), method: :get
= button_to "Delete", book_path(@book.id), method: :delete, confirm: 'Are you sure?'
