%h1= @book.title
%p The books is
%p Title
= @book.title
%p Author
= @book.author
%p Publisher
= @book.publisher
%p Price
= @book.price

= button_to "Back", books_path,method: :get
= button_to "Edit", edit_book_path(@book.id), method: :get
= button_to "Delete", book_path(@book.id), method: :delete, confirm: 'Are you sure?'
